* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    margin: 10px auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.container__blog {
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 300px;
}

.container__blog:not(first-child) {
    margin-right: -1px;
}
